body {
    margin: 0;
    font-family: sans-serif;
    background: url(../img/dungeon-2.png) no-repeat bottom fixed #392f88;
    background-size: 110%;
    background-position-x: -244px;
}

div {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.nav-bar {overflow: auto;padding: 25px;position: fixed;background: hsla(0, 0%, 100%, 0.84);top: 0;left: 0;right: 0;z-index: 999;}

.nav-bar ul {
    float: right;
    list-style: none;
    margin: 0;
}

.nav-bar h1 {
    float: left;
    margin: 0;
}

.nav-bar ul li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: auto;
    min-height: 100vh;
    background: #ffffffd1;
    padding: 20px 25px 0;
    margin-top: 87px;
}

.header img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.half {
    float: left;
    width: 50%;
}

.half:nth-of-type(2n+2) {
    padding-right: 35px;
}

.left .inner {
}

.grid-img {
    float: left;
    width: 25%;
    padding: 2.5px;
    position: relative;
    cursor: pointer;
    transition: all .2s ease;
}

.grid-img:nth-of-type(4n+1) {
    clear: both;
}

.grid-img img {
    display: block;
    height: 145px;
    width: 100%;
    object-fit: cover;
}

.fa {font-size: 35px;margin: 10px 10px 34px;color: #4243af;}

i {
    cursor: pointer;
}

a.btn {
    background: red;
    color: #fff;
    padding: 10px 26px;
    border-radius: 6px;
    margin-top: 25px;
}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    color: #d8d8d8;
    font-size: 55px;
    font-weight: bold;
    background: #000000a8;
    padding: 20px;
    bottom: 0;
    left: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+100&0+1,0+53,1+100,1+101;Blue+to+Transparent */
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 53%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 101%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 53%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 101%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 53%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.header {
    position: relative;
}

.nav-bar a {
    color: #000;
}

.grid-img.vid:before {
    content: '\f01d';
    font-family: fontAwesome;
    position: absolute;
    font-size: 75px;
    color: #ff000069;
    left: 27%;
    transition: all .5s ease;
    top: 25%;
    z-index: 2;
}

.grid-img.vid:hover:before {
    color: #ff1414;
}

.grid-img img {
    filter: saturate(.2);
    transition: all .2s ease;
}

.grid-img:hover img {
    filter: saturate(1);
}

.grid-img:hover {
    box-shadow: 0 0 0 2px #fff;
    /* border: 1px solid; */
}

.nav-bar a {
    color: #000;
}
